##########################################
# My .gitignore #
archive
build/
dist/
docs
build.properties
.settings
.classpath
.project
.idea
.cvsignore
context.xml
~*
*~
logs
bin
*.class
*.iml
*.eml
*.iws
*.ipr
*.log
Thumbs.db
/classes
.gradle
build-gradle/
META-INF/context.xml